.game.theme-bingousa {
  .theme-bg {
    background-image: url(images/theme-us-bg.png);
    background-repeat: repeat;
  }
  .header-content {
    background: linear-gradient(to bottom, #5b8891, #555555, #1a1a1a);
  }
  .right-separator {
    border-image: linear-gradient(to right, #345a64, #70959f) 1 100%;
  }
  .game-score-panel-header {
    background-image: linear-gradient(to right, #387539, #5baf59 40%, #c43d47 40.1%, #a9373f);
  }
  .leaderboard-item-rank,
  .leaderboard-item-name-bg {
    background-image: linear-gradient(to right, #c43d47, #a9373f);
  }
  .lbl-game-message,
  .lbl-numbers-matched {
    color: #eb2c3b;
  }
  .footer-circles-row {
    background-image: linear-gradient(to right, #c43d47, #a9373f);
  }
  .btn-clear-results {
    color: #517a86;
    background-image: linear-gradient(to bottom, #ffffff, #4e7884);
    box-shadow: 0 0 4px 0 #466c78, inset 0 -1px 4px 0 #4e7783, inset 0 2px 7px 0 #ffffff;
  }
  .btn-quick-pick,
  .btn-play-count {
    background-image: linear-gradient(to top, #2f3757, #43548d);
    box-shadow: 0 0 6px 1px #3a4876;
  }
  .btn-play-game {
    background-image: linear-gradient(rgba(90, 147, 151, 0.67), rgba(90, 147, 151, 0.67)), linear-gradient(to bottom, rgba(14, 45, 80, 0.5), rgba(0, 127, 255, 0.5));
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
  }
}
