.Keno_Blackjack {
  background-image: url(images/black_jack/background.png);
  .game-logo {
    background-image: url(images/black_jack/desktop-l-o-g-o-u-s.png);
  }
  .number-circle {
    width: 40px;
    height: 60px;
    margin: 0 5px;
    position: relative;
  }
}
@media screen and (max-width: 991px) {
  .Keno_Blackjack {
  }
}
