.Keno_Blackjack {
  background-image: url(images/black_jack/background.png);
  .game-logo {
    background-image: url(images/black_jack/desktop-l-o-g-o-u-s.png);
  }
  .number-circle {
    width: 40px;
    height: 60px;
    margin: 0 5px;
    position: relative;
    border-radius: 2px;
    background-size: 100%;
    background-color: #fff;
  }
  .number-circle-bg {
    background: none !important;
  }
  .number-circle-checked {
    box-shadow: 0 0 20px 12px #2061b1, 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .number-circle-drawn {
    /* */
  }
  .number-circle-matched {
    box-shadow: 0 0 10px 11px #d0a93f, 0 0 10px 2px #f9f68b;
  }
  .footer-bet-buttons-row{
    margin: 20px 0 !important;
  }
  .footer-circles-row {
    height: 70px !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 991px) {
  .Keno_Blackjack {
  }
}
