/* font declaration starts here */
@font-face {
    font-family: 'Sansation';
    src: url('fonts/sansation_regular-webfont.woff2') format('woff2'),
         url('fonts/sansation_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/sansation_bold-webfont.woff2') format('woff2'),
         url('fonts/sansation_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/sansation_italic-webfont.woff2') format('woff2'),
         url('fonts/sansation_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arial-MT';
    src: url('fonts/arialmt-webfont.woff2') format('woff2'),
         url('fonts/arialmt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-MT';
    src: url('fonts/arialmt_bold-webfont.woff2') format('woff2'),
         url('fonts/arialmt_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
