.Keno_Roulette {
  background-image: url(images/roulette/bg-copy.png);
  .game-logo {
    background: none;
  }
  .game-content-panel {
    padding: 16px 12px;
  }
  .number-circle {
    width: 60px;
    height: 60px;
    margin: 0 3.5px;
    border: 1px solid #ffffff;
  }
  .number-circle-bg {
    background-image: none !important;
  }
  .number-circle-normal .number-circle-bg {
    background-image: url(images/uk-circle.png);
  }
  .number-circle-checked .number-circle-bg {
    background-image: url(images/uk-circle-selected.png);
  }
  .number-circle-drawn .number-circle-bg {
    background-image: url(images/uk-circle-win.png);
  }
  .number-circle-matched .number-circle-bg {
    background-image: url(images/uk-circle-winselect.png);
  }
  .footer-bet-buttons-row{
    margin: 20px 0 !important;
  }
  .footer-circles-row {
    height: 70px !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 991px) {
  .Keno_Bingo_UK {
  }
}
