.Keno_Bingo_UK {
  background-image: url(images/bg-uk-game.png);
  .game-logo {
    background-image: url(images/uk-game-name.png);
  }
  .number-circle-normal .number-circle-bg {
    background-image: url(images/uk-circle.png);
  }
  .number-circle-checked .number-circle-bg {
    background-image: url(images/uk-circle-selected.png);
  }
  .number-circle-drawn .number-circle-bg {
    background-image: url(images/uk-circle-win.png);
  }
  .number-circle-matched .number-circle-bg {
    background-image: url(images/uk-circle-winselect.png);
  }
}
@media screen and (max-width: 991px) {
  .Keno_Bingo_UK {
  }
}
