.Keno_Bingo_USA {
  background-image: url(images/us/background.png);
  .game-logo {
    background-image: url(images/us/desktop-l-o-g-o-u-s.png);
  }
  .number-circle-normal .number-circle-bg {
    background-image: url(images/us/us-circle.png);
  }
  .number-circle-checked .number-circle-bg {
    background-image: url(images/us/us-circle-selected.png);
  }
  .number-circle-drawn .number-circle-bg {
    background-image: url(images/us/us-circle-win.png);
  }
  .number-circle-matched .number-circle-bg {
    background-image: url(images/us/us-circle-winselect.png);
  }
}
@media screen and (max-width: 991px) {
  .Keno_Bingo_USA {
  }
}
