.Keno_Bingo_UK {
  background-image: url(images/bg-uk-game.png);
}
.Keno_Bingo_UK .game-logo {
  background-image: url(images/logo-bingo-uk.png);
}
.Keno_Bingo_UK .number-circle-normal .number-circle-bg {
  background-image: url(images/uk-circle.png);
}
.Keno_Bingo_UK .number-circle-checked .number-circle-bg {
  background-image: url(images/uk-circle-selected.png);
}
.Keno_Bingo_UK .number-circle-drawn .number-circle-bg {
  background-image: url(images/uk-circle-win.png);
}
.Keno_Bingo_UK .number-circle-matched .number-circle-bg {
  background-image: url(images/uk-circle-winselect.png);
}

.theme-bingouk .theme-bg {
  background-image: linear-gradient(to bottom, rgba(24, 42, 100, 0.95), rgba(41, 75, 155, 0.95));
}
.theme-bingouk .header-content {
  background: linear-gradient(to bottom, #264389, #555555, #1a1a1a);
}
.theme-bingouk .right-separator {
  border-image: linear-gradient(to right, #11245d, #385baf) 1 100%;
}
.theme-bingouk .game-score-panel-header {
  background-image: linear-gradient(to right, #387539, #5baf59 40%, #830706 40.1%, #cc1c1d);
}
.theme-bingouk .game-leaderboard-item-rank {
  background-image: linear-gradient(to right, #830706, #cc1c1d);
}
.theme-bingouk .game-leaderboard-item-name-bg {
  background-image: linear-gradient(to left, #830706, #cc1c1d);
}
.theme-bingouk .lbl-numbers-matched {
  color: #dd0707;
}
.theme-bingouk .footer-circles-row {
  background-image: linear-gradient(to right, #9e0b0c 3%, #cc1c1d);
}
.theme-bingouk .btn-clear-results {
  color: #305dc8;
  background-image: linear-gradient(to bottom, #ffffff, #9bb2db);
  box-shadow: 0 0 4px 0 #6b8de2, inset 0 -1px 4px 0 #003adc, inset 0 2px 7px 0 #ffffff;
}
.theme-bingouk .btn-quick-pick,
.theme-bingouk .btn-play-count {
  background-image: linear-gradient(to top, #830706, #c31a1b, #cc1c1d);
  box-shadow: 0 0 6px 1px #750001;
}
.theme-bingouk .btn-play-game {
  background-image: linear-gradient(to bottom, #182a64, #294b9b);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
}
